[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncio = "*"
websockets = "*"
requests = "*"
jinja2 = "*"
gpiozero = "*"

[dev-packages]

[requires]
python_version = "3.7"
